@model IEnumerable<XCommsWeb.Models.AlertModel>
@using ServerWeb.Helper;
@using XCommsWeb.Classes;
@*@using HtmlAgilityPack;
    @using System.Text.RegularExpressions;*@
@foreach (var item in Model)
{
    {
        string AlertTital = !string.IsNullOrEmpty(item.AlertTital) ? item.AlertTital.StripHTML() : "";
        if (string.IsNullOrEmpty(AlertTital))
        {
            AlertTital = "<i class='fa fa-file-image-o'></i> Image Only Used In Title";
        }

        //Regex rx = new Regex("<[^>]*>");
        //Regex rxPtoDivOpen = new Regex("<p>");
        //Regex rxPtoDivClose = new Regex("</p>");
        //Regex rxRemovebr = new Regex("<br>");
        //AlertTital = Model.AlertTital;
        //HtmlDocument documentAlertTital = new HtmlDocument();
        //AlertTital = rxPtoDivOpen.Replace(AlertTital, "<div>");
        //AlertTital = rxPtoDivClose.Replace(AlertTital, "</div>");
        //AlertTital = rxRemovebr.Replace(AlertTital, "");
        //documentAlertTital.LoadHtml(AlertTital);
        //GeneralFuncations GF = new GeneralFuncations();
        //GF.SetDisplayInlineForList(documentAlertTital.DocumentNode);
        //Model.AlertTital = documentAlertTital.DocumentNode.InnerHtml.ToString();
        item.AlertTital = AlertTital;
    }
    <tr class="editorRow">
        @using (Html.BeginCollectionItem("ListDraftDelete", item.AlertId.ToString()))
        {
            <td class="text-center">
                @if (ViewBag.BaseUserName == item.EntryBy && (ViewBag.PermissionTyp != "Administator"))
                {
                    <div class="smart-form text-center" style="width: 25px !important;">
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => item.IsChecked, new { @class = "chkCheck" })
                            <i></i>
                        </label>
                    </div>
                }
                @if (ViewBag.PermissionTyp == "Administator")
                {
                    <div class="smart-form text-center" style="width: 25px !important;">
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => item.IsChecked, new { @class = "chkCheck" })
                            <i></i>
                        </label>
                    </div>
                }
                @Html.HiddenFor(m => item.AlertId)
            </td>
            <td>@Html.Raw(item.AlertTital)</td>
            <td class="text-center">
                @item.EntryDate.FormateDateWithFullYearUS()
            </td>
            <td>
                <div class="btn-group center-block">
                    <center>
                        <button class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" rel="tooltip" title="" data-placement="top" data-original-title="<i class='fa fa-exclamation-circle fa-md fa-fw'></i> Draft Alert" data-html="true">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu pull-left" style="min-width:auto !important;">
                            @if (ViewBag.BaseUserName == item.EntryBy && (ViewBag.PermissionTyp != "Administator"))
                            {
                                <li>
                                    <a href="javascript:;" data-id="@item.AlertId" class="clseditsend" rel="tooltip" title="" data-placement="left" data-original-title="Edit & Send">
                                        <i class="fa fa-share-square"></i> Edit & Send
                                    </a>
                                </li>
                            }
                            @if (ViewBag.PermissionTyp == "Administator")
                            {
                                <li>
                                    <a href="javascript:;" data-id="@item.AlertId" class="clseditsend" rel="tooltip" title="" data-placement="left" data-original-title="Edit & Send">
                                        <i class="fa fa-share-square"></i> Edit & Send
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="javascript:;" class="showAlertPreview" data-alertid="@item.AlertId" data-height="@item.DesktopSizeHeight" data-width="@item.DesktopSizeWidth"
                                   data-AlertPosition="@item.AlertPosition" data-FullScreenAlert="@item.FullScreenAlert" rel="tooltip" title="" data-placement="left" data-original-title="Preview Draft">
                                    <i class="fa fa-eye"></i> Preview
                                </a>
                            </li>
                        </ul>
                    </center>
                </div>
            </td>
        }
    </tr>
}