@model XCommsWeb.Models.RecepientViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Recipients Analytics";
    ViewBag.TitleList = "Recipients List";
    ViewBag.Tit = "Recipients Criteria";
}

<style type="text/css">
    .mrgleft5 {
        margin-left: 5px
    }

    .mrgleft10 {
        margin-left: 10px
    }

    .mrgtop10 {
        margin-top: 10px
    }

    .mrgtop20 {
        margin-top: 20px
    }

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        text-decoration: none;
        color: #fff;
        background-color: #a90329 !important;
    }

    .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #a90329;
        border-color: #a90329;
    }

    .modal-header .close {
        margin-top: -20px;
    }

    .squarered {
        height: 10px;
        width: 10px;
        background-color: #a90329;
    }

    .squaregreen {
        height: 10px;
        width: 10px;
        background-color: #739e73;
    }

    .ifAlertPreview {
        position: absolute !important;
        /* top: 0px !important;
            left: 350px !important;*/
        z-index: 99999 !important;
        border: 1px solid #CCC !important;
        border-radius: 10px !important;
        box-shadow: 8px 8px 5px grey !important;
    }

    .dt-toolbar {
        padding: 6px 0px 1px;
    }

    .dt-toolbar-footer {
        border-top: 0px;
    }

    .jarviswidget .widget-body {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                    <h2>@ViewBag.Tit</h2>
                </header>
                <div class="widget-body">
                    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                        <div class="tab-content col-md-12">
                            <div class="tab-pane DivCustomBorder fade in active" id="s1">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4"> Select Date :</label>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div id="reportrange" class="input form-control">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    &nbsp;
                                                    <span></span>
                                                    <b class="fa fa-angle-down"></b>
                                                    @Html.HiddenFor(c => c.FromDate)
                                                    @Html.HiddenFor(c => c.ToDate)
                                                    @Html.HiddenFor(c => c.Id)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xs-offset-4 col-md-offset-0">
                                        <div class="pull-left">
                                            <ul class="demo-btns">
                                                <li>
                                                    <a href="javascript:void(0);" id="btnSubmit" class="btn btn-labeled btn-primary" rel="tooltip" title="" data-placement="bottom" data-original-title="Search Criteria">
                                                        <span class="btn-label"><i class="fa fa-search"></i></span>Search
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
}
<br />
<br />
<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                <h2>@ViewBag.TitleList</h2>
            </header>
            <div id="ResultRegion" class="widget-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
                    <div class="">
                        <a href="javascript:void(0);" id="GetConfig" class="config"></a>
                        <a href="javascript:void(0);" id="Resubmit" class="reload"></a>
                    </div>
                    <div id="ResultData"></div>
                </div>
            </div>
        </div>
    </article>
</div>

<!-- Modal Start : Analytics Recipients -->
<div class="modal fade" id="exampleModalTbl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" role="widget">
                            <header role="heading">
                                <div class="jarviswidget-ctrls" role="menu"></div>
                                <span class="widget-icon"><i class="fa fa-envelope"></i></span>
                                <h2>Analytics -> Recipients</h2>
                            </header>
                            <div>
                                <table class="mrgtop20 table table-responsive table-bordered table-striped" id="tblData1" width="100%"></table>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="modal-footer">

                <div class="col-md-12">
                    <div class="pull-right">
                        <ul class="demo-btns">
                            <li>
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-labeled btn-danger" rel="tooltip" title="" data-placement="bottom" data-original-title="Close">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Dismiss
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End : Analytics Recipients -->

@section scripts{
    <script src="~/assets/plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.cust.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.fillbetween.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.orderBar.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Events = function (DomainName) {
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                //dateLimit: {
                //    days: 60
                //},
                showDropdowns: true,
                showWeekNumbers: false,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
                    'All': ['@ViewBag.StartDate', moment()]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
            function (start, end) {
                $('#FromDate').val(start.format('MMM D, YYYY'));
                $('#ToDate').val(end.format('MMM D, YYYY'));
                $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
            }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMM D, YYYY') + ' - ' + moment().format('MMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMM D, YYYY'));
            $('#ToDate').val(moment().format('MMM D, YYYY'));
        }

        var GetListData = function (DomainName) {
            App.blockUI({ target: "#main" });
            var strurl = DomainName + "/Master/RecepientListData";
             $("#ResultData").html("");
            $.ajax({
                url: strurl,
                async:true,
                cache: false,
                data: $("#submit_form").serialize(),
                type: 'POST',
                success: function (data) {
                    $("#ResultData").html(data);
                    $("#ResultRegion").show();
                    $('#CriteriaRegion').show();
                    GetAnalytic(DomainName);
                    dataTableById("dtReceipent", 4, "desc", "");
                    $("[rel='tooltip']").tooltip();
                    App.unblockUI('#main');
                },
                error: function (req, status, error) {
                    alert("error. Please try again  later.");
                    App.unblockUI('#main');
                }
            });
        }

         var GetAnalytic = function (DomainName) {
             $(".ClsAnalytics").on("click", function () {
                 App.blockUI({ target: "#main" });
                 var strUrl = DomainName + "/Master/GetRecepientDetailFromId";
                 $.ajax({
                     async: true,
                     type: 'POST',
                     url: strUrl,
                     data: { 'UserId': $(this).data('userid'), 'Type': $(this).data('type'), 'FromDate': $("#FromDate").val(), 'ToDate': $("#ToDate").val() },
                     success: function (data) {
                         if (data.Status == "0") {
                             App.unblockUI('#main');
                             TosterNotification("error", data.Message, "Error");
                         } else {
                             $("#tblData1").html(data);
                             $('#exampleModalTbl').modal('show');
                             dataTableById("tblData1", 1, "desc");
                             App.unblockUI('#main');
                         }
                     },
                     error: function (jqXHR, exception) {
                         TosterNotification("error", errorResult(jqXHR, exception), "Error");
                         App.unblockUI('#main');
                     }
                 });

             });
             dataTableById("dtReceipent", 4, "desc", "");
             $("[rel='tooltip']").tooltip();
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                handleDateRangePickers();
                GetListData(DomainName);
                $("#btnSubmit").click(function () {
                    GetListData(DomainName);
                });
            }
        }
    }();
</script>
