@model XCommsWeb.Models.ReSetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style type="text/css">
    .client-form header {
        text-align: center;
        background: rgba(255,255,255,0);
        color: #fff;
    }

    .smart-form footer {
        background: rgba(255,255,255,0);
    }

        .smart-form footer .btn {
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33 !important;
            border-radius: 6px;
            margin: 0;
            height: 2.33em;
        }

    fieldset {
        background: rgba(255,255,255,0) !important;
        border: 0 !important;
    }

    .smart-form .checkbox, .smart-form .radio {
        color: #FFF;
        padding-left: 0px;
        font-size: 16px;
    }

    a, a:hover {
        text-shadow: none !important;
        color: #FFF;
    }

    .smart-form footer, .smart-form header {
        border: 0;
    }

    .smart-form fieldset {
        padding: 0px 50px 5px;
    }

    .smart-form footer {
        padding: 7px 50px 15px;
    }

    .smart-form .input input {
        height: 40px;
        line-height: 40px;
    }

    .smart-form .icon-prepend {
        padding-top: 5px;
        font-size: 18px;
        height: 24px;
    }

    .mrgtp8 {
        margin-top: 8%;
    }

    .mrgbtm8 {
        margin-bottom: 8%;
    }

    h5 {
        color: #fff;
    }

    .btn-danger {
        color: #fff;
        background-color: #e23530;
        border-color: #d43f3a;
    }

    .help-block {
        color: #e23530;
        font-size: 12px;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="no-padding">
            @using (Html.BeginForm("ResetPassword", "Master", FormMethod.Post, new { @id = "submit_form", @class = "smart-form client-form login-form" }))
            {
                @Html.AntiForgeryToken()
                <header>
                    Please enter your new password and confirm.
                </header>
                <fieldset>
                    <section>
                        <span style="color: #D82C29;font-size: 15px;">@Html.ValidationSummary(true)</span>
                    </section>
                    <section>
                        @Html.HiddenFor(c => c.Id)
                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            @Html.TextBoxFor(m => m.Username, new { @class = "required ", @placeholder = @Html.DisplayNameFor(c => c.Username), @autocomplete = "off", @type = "Text" })
                            @*<b class="tooltip tooltip-top-left"><i class="fa fa-user txt-color-teal"></i> Please enter your username</b>*@
                        </label>
                    </section>
                    <section>
                        @Html.HiddenFor(c => c.Id)
                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            @Html.TextBoxFor(m => m.Password, new { @class = "required ", @placeholder = @Html.DisplayNameFor(c => c.Password), @autocomplete = "off", @type = "Password" })
                            @*<b class="tooltip tooltip-top-left"><i class="fa fa-user txt-color-teal"></i> Please enter your username</b>*@
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "required ", @placeholder = @Html.DisplayNameFor(c => c.ConfirmPassword), @autocomplete = "off", @type = "Password" })
                            @*<b class="tooltip tooltip-top-left"><i class="fa fa-user txt-color-teal"></i> Please enter your username</b>*@
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="button" class="btn btn-danger btn-lg col-md-12 demo-loading-btn" style="background-color: #c79121 !important;color:#FFF !important;">
                        <b>Reset Password</b>
                    </button>
                </footer>
                <h5 class="text-center"> <a href="~/Home/Index">Login?</a></h5>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function () {
        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                },
                   rules: {
                       Password: {
                       // minlength: 5
                    },
                       ConfirmPassword: {
                      //  minlength: 5,
                        equalTo: "#Password"
                    }
                }
            });
        }
        return {
            init: function () {
                Formvalidate();
                $('input:text:first').focus();
                $('input:text:first').select();
                $('.demo-loading-btn').click(function () {
                    if ($("#submit_form").valid()) {
                        $(".form-control").attr("readonly", true);
                        var btn = $(this);
                        btn.button('Loading');
                        setTimeout(function () {
                            btn.text("Please wait, We are fetching your data...!!!");
                        }, 500);
                        document.forms["submit_form"].submit();
                    }
                    else {
                        $(".form-control").attr("readonly", false);
                        return false;
                    }
                });
                $(".form-control").keydown(function (e) {
                    if (e.keyCode == 13) {
                        if ($("#submit_form").valid()) {
                            $(".form-control").attr("readonly", true);
                            var btn = $('.demo-loading-btn');
                            btn.button('loading');
                            document.forms["submit_form"].submit();
                        }
                        else {
                            $(".form-control").attr("readonly", false);
                            return false;
                        }
                    }
                });

              

                

            }
        }
    }();
</script>

