@model IEnumerable<XCommsWeb.Models.tbl_Alert_popUp>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Screensaver History";
}
<style>
    .disabled-link {
        pointer-events: none;
        background-color: #b5aeaecc;
        color: unset !important;
    }

    .mrgleft5 {
        margin-left: 5px
    }

    .mrgleft10 {
        margin-left: 10px
    }

    .mrgtop10 {
        margin-top: 10px
    }

    .mrgtop20 {
        margin-top: 20px
    }

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        text-decoration: none;
        color: #fff;
        background-color: #a90329 !important;
    }

    .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #a90329;
        border-color: #a90329;
    }

    .modal-header .close {
        margin-top: -20px;
    }

    .squarered {
        height: 10px;
        width: 10px;
        background-color: #a90329;
    }

    .squaregreen {
        height: 10px;
        width: 10px;
        background-color: #739e73;
    }

    .ifAlertPreview {
        position: absolute !important;
        /* top: 0px !important;
            left: 350px !important;*/
        z-index: 99999 !important;
        border: 1px solid #CCC !important;
        border-radius: 10px !important;
        box-shadow: 8px 8px 5px grey !important;
    }

    .dt-toolbar {
        padding: 6px 0px 1px;
    }

    .dt-toolbar-footer {
        border-top: 0px;
    }

    .popup_content {
        width: 2133px;
        height: 1079px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #imagepreview {
        width: 101.25%;
        height: 101%;
        top: -4.1%;
        left: -0.7%;
        position: relative;
        /*margin-right: 260px;*/
        z-index: 1000;
        background-color: transparent;
    }

    ._1 {
        object-fit: cover;
    }

    ._2 {
        object-fit: contain;
    }

    ._3 {
        object-fit: fill;
    }

    ._4 {
        object-fit: none;
        object-position: left top;
    }

    ._5 {
        object-fit: none;
    }

    ._6 {
        object-fit: cover;
    }

    a[disabled] {
        background-color: #CCC;
    }

    .TxtVerticalAlign {
        vertical-align: middle !important;
    }

    .jarviswidget .widget-body {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
    }
</style>

@using (Html.BeginForm("WallPaperHistoryMultipleDelete", "Master", FormMethod.Post, new { id = "form_sample" }))
{
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-8" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-list"></i></span>
                    <h2>@ViewBag.Title</h2>
                </header>
                <div class="widget-body">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <ul class="demo-btns">
                                <li>
                                    <a href="javascript:void(0);" class="ClsAdd btn btn-labeled btn-primary" rel="tooltip" title="" data-placement="bottom" data-original-title="Add Screensaver">
                                        <span class="btn-label"><i class="fa fa-plus"></i></span>Add Screensaver
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="btnStopAlert" class="btn btn-labeled btn-warning" rel="tooltip" title="" data-placement="bottom" data-original-title="Stop Screensaver">
                                        <span class="btn-label"><i class="fa fa-close"></i></span>Stop Screensaver
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="btnDelete" class="btn btn-labeled btn-danger" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete Screensaver">
                                        <span class="btn-label"><i class="fa fa-trash-o"></i></span>Delete Screensaver
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 mrgtop10">
                        <table id="dt_WallPaperHistory" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center no-sort">
                                        <div class="smart-form text-center" style="width:25px;">
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" id="chkCheckAll"><i></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th class="text-center"><i class="fa fa-laptop txt-color-blueDark fa-lg"></i> Screensaver Title</th>
                                    <th class="text-center"><i class="fa fa-info-circle txt-color-blueDark fa-lg"></i> Screensaver Type</th>
                                    <th class="text-center"><i class="fa fa-check-circle-o txt-color-blueDark fa-lg"></i> Status</th>
                                    <th class="text-center"><i class="fa fa-user txt-color-blueDark fa-lg"></i> Sent By</th>
                                    <th class="text-center"><i class="fa fa-calendar txt-color-blueDark fa-lg"></i> Sent Date/Time (EST)</th>
                                    <th class="text-center"><i class="fa fa-clock-o txt-color-blueDark fa-lg"></i> Schedule Status</th>
                                    <th class="text-center"><i class="fa fa-calendar txt-color-blueDark fa-lg"></i> Start Date</th>
                                    <th class="text-center"><i class="fa fa-calendar txt-color-blueDark fa-lg"></i> End Date</th>
                                    <th class="text-center"><i class="fa fa-paper-plane txt-color-blueDark fa-lg"></i> Resent</th>
                                    <th class="text-center"><i class="fa fa-pencil-square txt-color-blueDark fa-lg"></i> Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    Html.RenderPartial("_HistoryWallPaperListPartial", item);
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
}

<div class="modal fade" id="ConfirmationMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row" id="message">
                    <h5>
                        <span class="control-label">Are you sure you want to delete  </span><b><span id="DeleteSr"> </span></b> ?
                        <br />
                        <br />
                        <span class="control-label">If yes then please press <b>"Confirm"</b> other wise kindly press "Close".</span>
                    </h5>
                </div>
            </div>
            <div class="modal-footer" style="padding:10px !important;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="pull-right">
                            <ul class="demo-btns">
                                <li>
                                    <a href="javascript:void(0);" id="DeleteRow" class="btn btn-labeled btn-primary DeleteRow" rel="tooltip" title="" data-placement="bottom" data-original-title="Confirm">
                                        <span class="btn-label"><i class="fa fa-check-circle"></i></span>Confirm
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-labeled btn-danger" rel="tooltip" title="" data-placement="bottom" data-original-title="Close">
                                        <span class="btn-label"><i class="fa fa-close"></i></span>Dismiss
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i><span class="mrgleft5">Close</span></button> &nbsp;
                <button type="button" class="btn btn-primary DeleteRow" id="DeleteRow" value="1"><i class="fa fa-check"></i><span class="mrgleft5">Confirm</span></button>
            </div>*@
        </div>
    </div>
</div>

@*<div class="modal fade tranp" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div class="modal-dialog close tranp1" data-dismiss="modal">
        <div class="modal-content tranp">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <img src="" class="imagepreview" style="width: 100%;">
        </div>
    </div>*@

<div id="popup_wrapper" class="popup popup_hide">
    <section class="popup_container">
        <div class="popup_close"><span style="background-color:black;color:red;font-size:x-large;">X</span></div>

        <div class="popup_content ">
            <img src="" class="imagepreview" id="imagepreview" style="align-content:center;">
        </div>
        <div class="popup_footer"></div>
    </section>
</div>

<a href="#exampleModal" data-toggle="modal" id="exampleModals" style="display:none;"></a>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid">
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                            <header role="heading">
                                <div class="jarviswidget-ctrls" role="menu"></div>
                                <span class="widget-icon"><i class="fa fa-bar-chart"></i></span>
                                <h2>Activity Analytics Report</h2>
                            </header>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="pie-chart" class="chart"></div>
                                </div>
                                <div class="col-md-6">
                                    <table class=" mrgtop20 table table-responsive table-bordered" id="tblData">
                                        @*<tr>
                    <td><div class="squaregreen"></div></td>
                    <td><span class="mrgleft5">Delivered</span></td>
                    <td><a href="#"><span class="mrgleft10">85</span></a></td>
                </tr>
                <tr>
                    <td><div class="squarered"></div></td>
                    <td><span class="mrgleft5">Not Delivered</span></td>
                    <td><a href="#"><span class="mrgleft10">15</span></a></td>
                </tr>
                <tr>
                    <td><div class=""></div></td>
                    <td><span class="mrgleft5">Acknowleged</span></td>
                    <td><a href="#"><span class="mrgleft10">100</span></a></td>
                </tr>*@
                                    </table>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="pull-right">
                        <ul class="demo-btns">
                            <li>
                                <a href="javascript:void(0);" id="exportpiedata" class="btn btn-labeled btn-primary" rel="tooltip" title="" data-placement="bottom" data-original-title="Export Details">
                                    <span class="btn-label"><i class="fa fa-download"></i></span>Export
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-labeled btn-danger" rel="tooltip" title="" data-placement="bottom" data-original-title="Close">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Dismiss
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                @*<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i><span class="mrgleft5">Close</span></button>*@
                @*<button type="button" class="btn btn-primary"><i class="fa fa-upload"></i><span class="mrgleft5">Export Details</span></button>*@
                @*<a href="" class="btn btn-primary" id="exportpiedata"><i class="fa fa-download"></i><span class="mrgleft5">Export Details</span></a>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalTbl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid">
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                            <header role="heading">
                                <div class="jarviswidget-ctrls" role="menu"></div>
                                <span class="widget-icon"><i class="fa fa-user"></i></span>
                                <h2>Recipients List</h2>
                            </header>
                            <div class="row">
                                <table class=" mrgtop20 table table-responsive table-bordered" id="tblData2" width="100%"></table>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="pull-right">
                        <ul class="demo-btns">
                            <li>
                                <a href="javascript:void(0);" id="exportPopAlert" class="btn btn-labeled btn-primary" rel="tooltip" title="" data-placement="bottom" data-original-title="Export Details">
                                    <span class="btn-label"><i class="fa fa-download"></i></span>Export
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-labeled btn-danger" rel="tooltip" title="" data-placement="bottom" data-original-title="Close">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Dismiss
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                @*<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i><span class="mrgleft5">Close</span></button>*@
                @*<button type="button" class="btn btn-primary"><i class="fa fa-upload"></i><span class="mrgleft5">Export Details</span></button>*@
                @*<a href="" class="btn btn-primary" id="exportPopAlert"><i class="fa fa-download"></i><span class="mrgleft5">Export Details</span></a>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalPreviewScreenSaverVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:768px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Screensaver Preview</strong></h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <section>
                        <video src="" ref="video" id="ScreenSaverVideo" controlslist="download" controls="controls" autoplay="autoplay" style="display:inline-block; height:auto;width:100%;"></video>
                    </section>
                </fieldset>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="pull-right">
                        <ul class="demo-btns">
                            <li>
                                <a href="javascript:void(0);" id="BtnCloseModalPreviewVideo" data-dismiss="modal" class="btn btn-labeled btn-danger" rel="tooltip" title="" data-placement="bottom" data-original-title="Close">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Dismiss
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/assets/css/popup.css" rel="stylesheet" />
@section scripts{
    <script src="~/assets/plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <script src="~/assets/plugins/flot/jquery.flot.cust.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.fillbetween.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.orderBar.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/assets/scripts/popup.js"></script>

}
<script type="text/javascript">

    var FormComponents = function (DomainName) {


        return {
            //main function to initiate the module
            init: function (DomainName) {


                $("#chkCheckAll").click(function () {
                    if (this.checked) {
                        $('.chkCheck').each(function () {
                            $(".chkCheck").prop('checked', true);
                        })
                    } else {
                        $('.chkCheck').each(function () {
                            $(".chkCheck").prop('checked', false);
                        })
                    }
                });
                var TotalCount = 5;
                $(".chkCheck").click(function () {
                    var SelectCount = 0;
                    $(".chkCheck").each(function () {
                        if (this.checked) {
                            SelectCount = SelectCount + 1;
                        }
                    });
                    if (SelectCount == TotalCount) {
                        $("#chkCheckAll").prop('checked', true);
                    }
                    else {
                        $("#chkCheckAll").prop('checked', false);
                    }

                    //var Control_ID = $(this).attr('id');
                    //if ($("#" + Control_ID).is(':checked'))
                    //{
                    //    $(this).prop('checked', true);
                    //    $(this).val(true);
                    //}
                    //else
                    //{
                    //    $(this).prop('checked', false);
                    //    $(this).val(false);
                    //}
                });



                $("#btnDelete").click("on", function () {
                    var count = 0;
                    $(".chkCheck").each(function () {
                        if (this.checked) {
                            count = count + 1;
                        }
                    });
                    if (count == 0) {
                        Swal.fire({
                            title: "Please select at least one record !",
                            text: "",
                            icon: "error",
                            confirmButtonText:
                                '<i class="fa fa-thumbs-up"></i> Okay !',
                            showCancelButton: false,
                            cancelButtonColor: '#d33'
                        });

                        return false;
                    }
                    var form = $('#form_sample');
                    var table = $('#dt_RecentActivity').DataTable();
                    table.destroy();
                    if (form.valid() == false) {
                        return false;
                    }
                    else {

                        Swal.fire({
                            title: "Are you sure? </br></br> You want to delete <i class='fa fa-trash-o txt-color-red fa-md'></i>",
                            text: "",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, Remove It !'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire({
                                    title: "<i class='fa fa-check-circle txt-color-blue fa-md'></i> Data has been deleted successfully.",
                                    text: "",
                                    icon: "success",
                                    confirmButtonText: '<i class="fa fa-check-circle"></i> Okay',
                                    confirmButtonClass: "btn btn-success clsConfirmYes",
                                    confirmButtonColor: '#7367f0'
                                });

                                $(".clsConfirmYes").on("click", function () {
                                    App.blockUI();
                                });

                                setTimeout(function () {
                                    document.forms["form_sample"].submit();
                                }, 1000);
                            }
                            else {
                                App.unblockUI();
                            }
                        });


                        //$('#ConfirmationMessage').modal('show');
                        //$(".DeleteRow").on("click", function () {

                        //    Swal.fire('Selected Data has been deleted successfully', '', 'success');
                        //    setTimeout(function () {
                        //        document.forms["form_sample"].submit();
                        //    }, 1500);
                            
                        //    return true;

                        //    //var result = $(this).val();
                        //    //if (result == 1) {
                        //        //document.forms["form_sample"].submit();
                        //        //return true;
                        //    /*}*/
                        //});

                    }
                });




                $(".ClsAnalytics").on("click", function () {
                    App.blockUI({ boxed: true });
                    var strUrl = DomainName + "/Home/GetData";
                    var parameters = {};
                    parameters['Type'] = $(this).data('type');
                    parameters['AlertId'] = $(this).data('alertid');
                    parameters['TenantId'] = '@ViewBag.TenantId';
                    parameters['BaseUserName'] = '@ViewBag.UserName';
                    parameters['ViewingType'] = '@ViewBag.ViewingType';
                    var strUrl1 = DomainName + "/Home/ExportData";
                    $('#exportpiedata').attr("href", strUrl1 + "?AlertId=" + $(this).data('alertid') + "&Status=" + "" + "&ModuleType=" + $(this).data('type'));
                    $.ajax({
                        async: false,
                        type: 'POST',
                        url: strUrl,
                        dataType: 'json',
                        data: {
                            Method: 'USP_GetPopUpAnalyticsDataV1',
                            parameters: parameters
                        },
                        success: function (data) {
                            console.log(data)
                            $("#exampleModals").click();
                            setTimeout(function () {
                                if ($('#pie-chart').length) {
                                    var data_pie = [];
                                    //var series = 2;
                                    //for (var i = 0; i < data.length; i++) {
                                    //    data_pie[i] = {
                                    //        label: "Series" + (i + 1),
                                    //        data: Math.floor(Math.random() * 100) + 1
                                    //    }
                                    //}
                                    data_pie[0] = {
                                        label: "Not Delivered : " + data[0]["NotDelivered"],
                                        data: data[0]["NotDelivered"],
                                    }
                                    data_pie[1] = {
                                        label: "Delivered : " + data[0]["Delivered"],
                                        data: data[0]["Delivered"]
                                    }

                                    $.plot($("#pie-chart"), data_pie, {
                                        series: {
                                            pie: {
                                                show: true,
                                                innerRadius: 0,
                                                radius: 1,
                                                label: {
                                                    show: true,
                                                    radius: 2 / 4,
                                                    formatter: function (label, series) {
                                                        return '<div style="font-size:11px;text-align:center;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                                                    },
                                                    threshold: 0.1
                                                }
                                            }
                                        },
                                        legend: {
                                            show: false,
                                            noColumns: 1, // number of colums in legend table
                                            labelFormatter: null, // fn: string -> string
                                            labelBoxBorderColor: "#000", // border color for the little label boxes
                                            container: null, // container (as jQuery object) to put legend in, null means default on top of graph
                                            position: "ne", // position of default legend container within plot
                                            margin: [5, 10], // distance from grid edge to default legend container within plot
                                            backgroundColor: "#efefef", // null means auto-detect
                                            backgroundOpacity: 1 // set to 0 to avoid background
                                        },
                                        grid: {
                                            hoverable: true,
                                            clickable: true
                                        },
                                    });

                                    var tblString = "";
                                    tblString += '<tr><td colspan="2"><b>Total Recepient : </b></td><td class="text-left" colspan="2"><b><center>' + data[0]["NoOfRecipientes"] + '</center></b></td></tr>';
                                    tblString += '<tr class="success"><td><div class="squaregreen"></div></td><td><span class="mrgleft5"> <i class="fa fa-check-circle-o txt-color-green fa-md"></i> Delivered</span></td><td><a href="javascript:;" class="ClsAnalTbl" data-alertid="' + data[0]["AlertId"] + '" data-status="Deliverd" data-type="' + data[0]["Type"] + '"><span class=""><b><center>' + data[0]["Delivered"] + '</center></b></span></a></td><td><label><span class="mrgleft5">' + data[0]["Delivered_Per"] + '</span></label></td></tr>';
                                    tblString += '<tr class="danger"><td><div class="squarered"></div></td><td><span class="mrgleft5"> <i class="fa fa-times-circle-o txt-color-red fa-md"></i> Not Delivered</span></td><td><a href="javascript:;" class="ClsAnalTbl" data-alertid="' + data[0]["AlertId"] + '" data-status="NotDeliverd" data-type="' + data[0]["Type"] + '"><span class=""><b><center>' + data[0]["NotDelivered"] + '</center></b></span></a></td><td><label><span class="mrgleft5">' + data[0]["NotDelivered_Per"] + '</span></></td></tr>';
                                    tblString += '<tr class="warning"><td><div></div></td><td><span class="mrgleft5"> <i class="fa fa-info-circle txt-color-blue fa-md"></i> Acknowleged</span></td><td><a href="javascript:;" class="ClsAnalTbl" data-alertid="' + data[0]["AlertId"] + '" data-status="Acknowleged" data-type="' + data[0]["Type"] + '"><span class=""><b><center>' + data[0]["Acknowledged"] + '</center></b></span></a></td><td><label><span class="mrgleft5">' + data[0]["Acknowledged_Per"] + '</span></label></td></tr>';
                                    $("#tblData").html(tblString);
                                    GetAnalyticDetail(DomainName);
                                }
                            }, 500);
                            App.unblockUI();
                        },
                        error: function (jqXHR, exception) {
                            Swal.fire('Oops !', '<b><h3>' + exception.toString() + '</h3></b> </br> Please try again or Contact your administrator for more detail.', 'error');
                            App.unblockUI();
                        }
                    });
                });

                var GetAnalyticDetail = function (DomainName) {
                    $(".ClsAnalTbl").on("click", function () {
                        App.blockUI({ boxed: true });
                        var strUrl = DomainName + "/Master/GetAnalyticData";
                        var strUrl1 = DomainName + "/Home/ExportData";
                        $('#exportPopAlert').attr("href", strUrl1 + "?AlertId=" + $(this).data('alertid') + "&Status=" + $(this).data('status') + "&ModuleType=" + $(this).data('type'));
                        $.ajax({
                            async: false,
                            type: 'POST',
                            url: strUrl,
                            data: { 'AlertId': $(this).data('alertid'), 'Status': $(this).data('status'), 'ModuleType': $(this).data('type') },
                            success: function (data) {
                                if (data == "1") {

                                } else {
                                    $("#tblData2").html(data);
                                    $('#exampleModalTbl').modal('show');

                                    dataTableById("tblData2");
                                }
                                App.unblockUI();
                            },
                            error: function (jqXHR, exception) {
                                Swal.fire('Oops !', '<b><h3>' + exception.toString() + '</h3></b> </br> Please try again or Contact your administrator for more detail.', 'error');
                                App.unblockUI();
                            }
                        });
                    });
                }


                var popupView = new popup({
                    dom: document.querySelector('#popup_wrapper'),
                    width: '300px',
                    height: '300px',
                    minWidth: '300px',
                    minHeight: '300px'
                });


                $('.btnpreview').click("on", function () {
                    var url = ""
                    var Image = $(this).data('image');
                    var AlertPosition = $(this).data('position');
                    var Type = $(this).data('type');
                     if (Type == 4) {

                        $('#imagepreview').attr('src', '');
                        $('#popup_content').text("");
                        url = DomainName + "/ScreenSaver/" + Image;
                        $('#imagepreview').attr('src', url);
                        $(".popup_container").removeAttr("style")
                        $("#imagepreview").attr('class', '_' + AlertPosition);
                        popupView.show();
                    }

                });
                @*if ('@ViewBag.Typ' == 4) {
                    dataTableById("dt_WallPaperHistory", 0, "desc");
                }
                else if ('@ViewBag.Typ' == 3 || '@ViewBag.Typ' == 7) {
                    dataTableById("dt_WallPaperHistory", 0, "desc");
                }*@

                $('.ClsAdd').click(function () {
                    App.blockUI({ boxed: true });
                     if ('@ViewBag.Typ' == 4) {
                         window.location = DomainName + "/Master/ScreenSaver?Type=4&Id=0&Fun=A";
                }
                @*else if ('@ViewBag.Typ' == 3) {
                         window.location = DomainName + "/Master/AddWallPaper?Type=3&Id=0&Fun=A";
                }
                 else if ('@ViewBag.Typ' == 7) {
                         window.location = DomainName + "/Master/AddLockScreen?Type=7&Id=0&Fun=A";
                }*@
                });
                $('.ClsEdit').click(function () {
                    App.blockUI({ boxed: true });
                    var Id = $(this).data('alertid');
                    var Type = $(this).data('type');
                    var Fun = $(this).data('fun');

                     if (Type==4) {
                        window.location = DomainName + "/Master/ScreenSaver?Id=" + Id + "&Type=" + Type + "&Fun=" + Fun;
                    }
                });
                //$('.ClsCopy').click(function () {
                //    App.blockUI({ boxed: true });
                //    var Id = $(this).data('alertid');
                //    var Type = $(this).data('type');
                //    if (Type == 3 || Type == 7) {
                //        window.location = DomainName + "/Master/AddWallPaper?Id=" + Id + "&Type=" + Type;
                //    }
                //    else if (Type == 4) {
                //        window.location = DomainName + "/Master/ScreenSaver?Id=" + Id + "&Type=" + Type;
                //    }
                //});

                $('.ClsCopy').click(function () {
                    App.blockUI({ boxed: true });
                    var Id = $(this).data('alertid');
                    var Type = $(this).data('type');
                    var Fun = $(this).data('Fun');
                    $.ajax({
                        async: true,
                        type: 'POST',
                        url: DomainName + "/Master/CopyWallpaperHistory",
                        data: { 'Type': Type, 'Status': $(this).data('status'), 'AlertId': Id },
                        success: function (data) {
                            console.log('Copy ScreenSaver : ' + data);
                            console.log('Copy ScreenSaver Id : ' + data.AlertId);
                            if (data.status == "1")
                            {
                                window.location = DomainName + "/Master/ScreenSaver?Type=" + Type + "&Id=" + data.AlertId + "&Fun=C";
                            }
                            else
                            {
                                Swal.fire('Oops !', '<b><h3>' + error.toString() + '</h3></b> There was an error Copying the ScreenSaver </br></br> Please try again or Contact your administrator for more detail.', 'error');
                            }
                            App.unblockUI();
                        },
                        error: function (jqXHR, exception) {
                            Swal.fire('Oops !', '<b><h3>' + exception.toString() + '</h3></b> </br> Please try again or Contact your administrator for more detail.', 'error');
                            App.unblockUI();
                        }
                    });
                    /*window.location = DomainName + "/Master/CopyWallpaperHistory?AlertId=" + Id + "&Type=" + Type ;*/
                });
                $(".ClsReSend").on("click", function () {
                    App.blockUI({ boxed: true });
                    var Id = $(this).data('alertid');
                    var Type = $(this).data('type');
                    var StrURL = DomainName + '/Master/ResendAlert?AlertId=' + $(this).data('alertid');
                    $.ajax({
                        type: "GET",
                        url: StrURL,
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (data) {

                            Swal.fire({
                                title: "<i class='fa fa-laptop txt-color-blue fa-md'></i></br></br> ScreenSaver has been Re-Send Successfully ..!!",
                                text: "",
                                icon: "success",
                                confirmButtonText: '<i class="fa fa-check-circle"></i> Okay ',
                                confirmButtonClass: "btn btn-success clsConfirmYes",
                                confirmButtonColor: '#7367f0'
                            });

                            $(".clsConfirmYes").on("click", function () {
                                App.unblockUI();
                                window.location = DomainName + "/Master/ScreenSaverHistory?Typ=" + Type;
                            });
                            
                            App.unblockUI();
                        },
                        error: function (jqXHR, exception) {
                            Swal.fire('Oops !', '<b><h3>' + exception.toString() + '</h3></b> </br> Please try again or Contact your administrator for more detail.', 'error');
                            App.blockUI();
                        }
                    });
                });

                $("#btnStopAlert").on("click", function () {
                    var count = 0;
                    $(".chkCheck").each(function () {
                        if (this.checked) {
                            count = count + 1;
                        }
                    });

                    if (count == 0)
                    {
                        Swal.fire({
                            title: "Please select at least one record !",
                            text: "",
                            icon: "error",
                            confirmButtonText: '<i class="fa fa-thumbs-up"></i> Okay !',
                            showCancelButton: false,
                            cancelButtonColor: '#d33'
                        });
                        return false;
                    }
                    else
                    {
                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: DomainName + "/Master/StopAlert",
                            cache: false,
                            type: 'POST',
                            data: $('#form_sample').serialize(),
                            success: function (data)
                            {
                                Swal.fire({
                                    title: "<i class='fa fa-laptop txt-color-blue fa-md'></i> </br></br> ScreenSaver has been stopped successfully ..!!",
                                    text: "",
                                    icon: "success",
                                    confirmButtonText: '<i class="fa fa-check-circle"></i> Okay ',
                                    confirmButtonClass: "btn btn-success clsConfirmYes",
                                    confirmButtonColor: '#7367f0'
                                });

                                $(".clsConfirmYes").on("click", function () {
                                    App.unblockUI();
                                    window.location.reload();
                                });
                                App.unblockUI();
                            },
                            error: function (req, status, error)
                            {
                                App.unblockUI();
                                Swal.fire('Oops !', '<b><h3>' + exception.toString() + '</h3></b> </br> Please try again or Contact your administrator for more detail.', 'error');
                            }
                        });
                    }
                });

                 if ('@ViewBag.IsExpired' == 1) {
                     $('.ClsAdd ').hide();
                     $('#btnStopAlert').hide();
                     $('#btnDelete ').hide();
                     $('.ClsCopy').addClass('disabled-link');
                     $('.ClsReSend').addClass('disabled-link');
                     $('.ClsSend').addClass('disabled-link');
                }

                $('.BtnPreviewScreenSaver').click("on", function () {
                    var SrcURL = "";
                    var AlertId = $(this).data('alertid');
                    var VideoFile = $(this).data('video');
                    var AlertPosition = $(this).data('position');
                    var Type = $(this).data('type');

                    if (Type == 4)
                    {
                        $('#ScreenSaverVideo').attr('src', '');
                        SrcURL = DomainName + "/ScreenSaver/" + AlertId + "/ScreenSaver.mp4";
                        $('#ScreenSaverVideo').attr('src', SrcURL);
                        $("#ScreenSaverVideo").attr('class', '_' + AlertPosition);
                        $('#ModalPreviewScreenSaverVideo').modal('show');
                    }
                });

                $(".ClsSend").on("click", function () {
                    App.blockUI({ boxed: true });
                    var Id = $(this).data('alertid');
                    var Type = $(this).data('type');
                    window.location = DomainName + "/Master/ScreenSaverStep2?AlertId=" + Id + "&Typ=" + Type;
                });

                $("#BtnCloseModalPreviewVideo").on("click", function () {
                    $('#ModalPreviewScreenSaverVideo').modal('hide');
                    $("#ScreenSaverVideo")[0].pause();
                });

                dataTableById("dt_WallPaperHistory", 5, "desc", true);
            }
        }
    }();
</script>
